<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>order</key>
		<integer>0</integer>
		<key>name</key>
		<string>最新</string>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.6/news/newslist-a2-pm1-v4.6.6-c0-nt0-p1-s60-l0.html</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>1</integer>
		<key>name</key>
		<string>快报</string>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.6/news/fastnewslist-a2-pm1-v4.6.6-b0-l0-s50-lastid0.html</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>3</integer>
		<key>name</key>
		<string>新闻</string>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.6/news/newslist-a2-pm1-v4.6.6-c0-nt1-p1-s50-l0.html</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>4</integer>
		<key>name</key>
		<string>评测</string>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.6/news/newslist-a2-pm1-v4.6.6-c0-nt3-p1-s50-l0.html</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>5</integer>
		<key>name</key>
		<string>导购</string>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.6/news/newslist-a2-pm1-v4.6.6-c0-nt60-p1-s50-l0.html</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>6</integer>
		<key>name</key>
		<string>行情</string>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.6/news/newslist-a2-pm1-v4.6.6-c310100-nt2-p1-s50-l0.html</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>7</integer>
		<key>name</key>
		<string>用车</string>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.6/news/newslist-a2-pm1-v4.6.6-c0-nt82-p1-s50-l0.html</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>8</integer>
		<key>name</key>
		<string>技术</string>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.6/news/newslist-a2-pm1-v4.6.6-c0-nt102-p1-s50-l0.html</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>9</integer>
		<key>name</key>
		<string>文化</string>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.6/news/newslist-a2-pm1-v4.6.6-c0-nt97-p1-s50-l0.html</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>10</integer>
		<key>name</key>
		<string>改装</string>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.6/news/newslist-a2-pm1-v4.6.6-c0-nt107-p1-s50-l0.html</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>11</integer>
		<key>name</key>
		<string>游记</string>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.6/news/newslist-a2-pm1-v4.6.6-c0-nt100-p1-s50-l0.html</string>
	</dict>
</array>
</plist>
